body {
  font-family: "Raleway", sans-serif;
  background-color: #ececec;
}

.container {
  margin:7em 18em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display:flex;
  flex-direction: column;
  border-radius: 10px;
  height: 550px;
  overflow: scroll;
  background-color: white;
}
.arrange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.pic-container {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
}
.pic {
  border: 1px solid #ececec;
  border-radius: 80px;
  width: 8em;
  height: 8em;
  align-items: center;
}
.data {
  flex-grow:1;
}
.btn{
  align-self: flex-start;
  margin:6px;
}
form{
  display:flex;
  margin:6px;
}
input {
  border:none;
  outline:0;
  border-bottom: 1px solid #ececec;
  flex:1;
  height:36px;
  font-size: 22px;
  padding:5px;
}
h1 {
  font-weight: bold;
  font-size: 44px;
}
p {
  text-indent: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ececec;
}
button{
  border:0;
  padding: 0;
  background-color: transparent;
  font-size:80px;
  font-family: inherit;
  color: #808080;
  cursor: pointer;
}
